// COMMON :: START

.copyright {
	display: flex;

	&__text {
		font-size: 14px;
		line-height: 31px;
		color: #D1E2E5;
	}
}

.social {
	display: flex;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;

		.icon-font {
			color: #ffffff;
		}
	}
}

// COMMON :: END
