///
/// ADDITIONALLY
/// ===============
$maxWidth: 1482px;
$paddingLeft: 15px;
$paddingRight: $paddingLeft;

%grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $paddingRight;
  padding-left: $paddingLeft;
}


///
/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }
  @include adaptive(1599) {
    max-width: 1282px;
  }
  @include adaptive(1439) {
    max-width: 1182px;
  }


  &-fluid {
    @extend %grid;
    max-width: 100%;
  }
}
