// FOOTER :: START

footer#footer.footer

  .footer__bg
    div
      img(src="img/dot-grid.svg" alt="")
    div

  .c-grid
    .footer__wrapper.footer__wrapper-1

      .footer__wrapper-left

        .logo.logo--footer
          a.logo__btn(href="/")
            img(src="img/logo--white.svg" alt="")

        p.footer__info Parque Tecnológico Alfa, Florianópolis - SC 88030-000 Telefone: +48 30171617

        .footer__sign
          p Log In
          div
            a.footer__sign-btn(href="#")
              i.icon-font.icon-user
              span Registrar

      .footer__wrapper-right
        div
          p.footer__title Empresa

          nav.footer__nav
            a(href="#") Sobre
            a(href="#") Imprensa
            a(href="#") Termos de Serviço
            a(href="#") Termos de Serviço

        div
          p.footer__title Contato

          nav.footer__nav
            a(href="#") E-mail
            a(href="#") Facebook
            a(href="#") Twitter
            a(href="#") Instagram

        div
          p.footer__title Recursos

          nav.footer__nav
            a(href="#") Blog
            a(href="#") Novidades
            a(href="#") Downloads

        div
          p.footer__title Artigos

          nav.footer__nav
            a(href="#") Article 1
            a(href="#") Article 2
            a(href="#") Article 3

    .footer__wrapper.footer__wrapper-2

      .footer__wrapper-left

        .copyright
          p.copyright__text SegundaLinha © 2021. Todos os direitos reservados.

      .footer__wrapper-right

        .social
          a(href="#")
            i.icon-font.icon-facebook
          a(href="#")
            i.icon-font.icon-twitter
          a(href="#")
            i.icon-font.icon-instagram
          a(href="#")
            i.icon-font.icon-youtube

// FOOTER :: END
