// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left
        
        .logo.logo--header
          a.logo__btn(href="/") 
            img(src="img/logo.svg" alt="")
        
      .header__wrapper-middle

        nav.header__nav
          a(href="#") Sobre
          a(href="#") Download
          a(href="#") Blog

      .header__wrapper-right

        .header__sign
          p Log In
          div
            a.header__sign-btn(href="#")
              i.icon-font.icon-user
              span Registrar

// HEADER :: END
