// SECTION :: START

.developer {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> div {
			position: absolute;

			&:nth-of-type(1) {
				top: -100px;
				left: -200px;
			}
			&:nth-of-type(2) {
				top: 50px;
				right: 100px;
			}
			&:nth-of-type(3) {
				right: -75px;
				bottom: 20%;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 15px;
		font-weight: bold;
		font-size: 45px;
		line-height: 67px;
		color: #00CAAD;
		text-align: center;
	}

	&__desc {
		width: 100%;
		max-width: 828px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
		font-size: 28px;
		line-height: 42px;
		text-align: center;
		color: #aeaeae;
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100%;

		&.developer__box-1 {
			.developer__box-bg {
				> div {
					left: 0;
					bottom: 0;
				}
			}
		}
		&.developer__box-2 {
			.developer__box-bg {
				> div {
					display: none;
				}
			}
		}
		&.developer__box-3 {
			.developer__box-bg {
				> div {
					top: 30%;
					right: 0;
				}
			}
		}

		&-bg {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			> div {
				opacity: 0.75;
				position: absolute;
				width: 250px;
				height: 250px;
				border-radius: 50%;
				background: rgba(#9815B2, 0.2);
				filter: blur(75px);
			}
		}

		&-wrapper {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			> div {
				width: 100%;
				max-width: calc((100% - 150px) / 3);
				padding-bottom: 50px;
			}
		}

		&-head {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 550px;

			img {
				z-index: 2;
				position: relative;
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-body {}

		&-title {
			padding-bottom: 15px;
			font-weight: bold;
			font-size: 28px;
			line-height: 42px;
			text-align: center;
			color: #E5E5E5;
		}

		&-line {
			width: 50px;
			height: 2px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;
			box-shadow: 0 4px 12px 0 rgba(43, 221, 219, 0.32);
			background-color: #45E8E6;
		}

		&-desc {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #959595;
		}
	}

	&__btn {}
}

// SECTION :: END
