// SECTION :: START

.how {
	position: relative;
	padding-top: 100px;
	padding-bottom: 75px;
	@include adaptive(767) {
		padding-bottom: 50px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> div {
			position: absolute;

			&:nth-of-type(1) {
				top: 0;
				left: 50px;
			}
			&:nth-of-type(2) {
				top: 0;
				right: 100px;
				@include adaptive(767) {
					display: none;
				}
			}
			&:nth-of-type(3) {
				left: 50px;
				bottom: 10%;
				@include adaptive(767) {
					transform: scale(0.55);
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}

	&__title {
		position: relative;
		padding-bottom: 30px;
		font-weight: bold;
		font-size: 45px;
		line-height: 67px;
		text-align: center;
		color: #00CAAD;
		@include adaptive(1279) {
			font-size: 40px;
		}
		@include adaptive(767) {
			font-size: 35px;
			line-height: 55px;
		}

		&:before {
			z-index: 0;
			content: attr(data-title);
			position: absolute;
			top: -15px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			font-weight: bold;
			text-align: center;
			font-size: 77px;
			text-transform: uppercase;
			color: rgba(#FFFFFF, 0.08);
			@include adaptive(1023) {
				font-size: 57px;
			}
			@include adaptive(767) {
				display: none;
			}
		}
	}

	&__desc {
		width: 100%;
		max-width: 1069px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 155px;
		font-size: 28px;
		line-height: 42px;
		text-align: center;
		color: #aeaeae;
		@include adaptive(1279) {
			font-size: 24px;
		}
		@include adaptive(767) {
			font-size: 18px;
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100%;

		&.how__box-1,
		&.how__box-3 {
			.how__box-bg {
				display: flex;
				align-items: flex-end;
				justify-content: center;

				> div {
					opacity: 0.55;
					position: absolute;
					width: 200px;
					height: 200px;
					border-radius: 50%;
					background: rgba(#9C60FF, 0.6);
					filter: blur(75px);
				}
			}
		}

		&.how__box-2 {
			.how__box-bg {
				> div {
					position: absolute;
					filter: blur(75px);
					border-radius: 50%;

					&:nth-of-type(1) {
						opacity: 0.55;
						left: 0;
						bottom: 0;
						width: 200px;
						height: 200px;
						background: rgba(#9C60FF, 0.6);
					}
					&:nth-of-type(2) {
						top: 50%;
						right: 0;
						transform: translate(0, -50%);
						width: 250px;
						height: 250px;
						background: rgba(#4B92FD, 0.5);
					}
					&:nth-of-type(3) {
						top: 100px;
						right: 0;
						width: 150px;
						height: 150px;

						background: rgba(#8F4BFD, 0.45);
					}
				}
			}

			.how__box-head {
				position: relative;

				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					transform: translate(-24%, -60px);
					max-width: unset;
					@include adaptive(1279) {
						transform: translate(-31%, -60px);
					}
					@include adaptive(1023) {
						position: static;
						transform: unset;
						display: block;
						max-width: 100%;
					}
				}
			}

			.how__box-num {
				@include adaptive(1023) {
					transform: translateY(50%);
				}
			}
		}

		&-wrapper {
			display: flex;
			padding-bottom: 58px;
			@include adaptive(1023) {
				flex-wrap: wrap;
				padding-bottom: 0;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				@include adaptive(1023) {
					max-width: 100%;
					padding-bottom: 100px;
				}
			}
		}

		&-bg {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&-num {
			z-index: 1;
			position: absolute;
			top: -125px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-weight: 500;
			font-size: 222px;
			line-height: 1;
			color: rgba(#30EBD5, 0.04);
			@include adaptive(1279) {
				font-size: 188px;
			}
			@include adaptive(1023) {
				transform: translateY(10%);
				font-size: 155px;
			}
			@include adaptive(767) {
				transform: translateY(25%);
				font-size: 125px;
			}
		}

		&-head,
		&-body {
			z-index: 2;
			position: relative;
		}

		&-head {
			flex: 1;
			min-height: 1px;
			max-height: 100%;
			@include adaptive(767) {
				height: 350px;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				@include adaptive(767) {
					max-height: 100%;
				}
			}
		}

		&-body {
			padding-top: 50px;
			@include adaptive(1023) {
				padding-top: 30px;
			}

			p {
				width: 100%;
				max-width: 290px;
				margin-left: auto;
				margin-right: auto;
				font-weight: 600;
				font-size: 22px;
				line-height: 32px;
				text-align: center;
				color: #FFFFFF;
				@include adaptive(767) {
					font-size: 20px;
				}
			}
		}
	}
}

// SECTION :: END
