// SECTION :: START

.main {
	padding-top: 208px;

	&__title {
		font-weight: bold;
		font-size: 45px;
		line-height: 67px;
		text-align: center;
		color: #FFFFFF;
	}

	&__slogan {
		padding-bottom: 25px;
		font-size: 28px;
		line-height: 42px;
		text-align: center;
		color: #AEAEAE;
	}

	&__btn {}
}

// SECTION :: END
