// SECTION :: START

.main {
	position: relative;
	padding-top: 208px;
	@include adaptive(1023) {
		padding-bottom: 100px;
	}
	@include adaptive(767) {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> div {
			position: absolute;

			&:nth-of-type(1) {
				top: 30%;
				transform: translateY(-50%);
				left: -50px;
				@include adaptive(767) {
					transform: scale(0.75);
				}

				img {
					display: block;
					max-width: 137px;
					height: auto;
					filter: drop-shadow(-1px 33px 48px rgba(128, 119, 242, 0.52));
				}
			}

			&:nth-of-type(2) {
				top: 100px;
				right: -50px;
				@include adaptive(767) {
					transform: scale(0.55);
				}
			}

			&:nth-of-type(3) {
				opacity: 0.55;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 400px;
				height: 400px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 50%;
				background-color: rgba(#9C60FF, 0.6);
				filter: blur(100px);
				@include adaptive(767) {
					width: 200px;
					height: 200px;
				}
			}
		}
	}

	&__wrapper {
		z-index: 5;
		position: relative;
	}

	&__title {
		font-weight: bold;
		font-size: 45px;
		line-height: 67px;
		text-align: center;
		color: #FFFFFF;
		@include adaptive(1279) {
			font-size: 40px;
		}
		@include adaptive(767) {
			padding-bottom: 30px;
			font-size: 35px;
			line-height: 55px;
		}
	}

	&__slogan {
		padding-bottom: 25px;
		font-size: 28px;
		line-height: 42px;
		text-align: center;
		color: #AEAEAE;
		@include adaptive(1279) {
			font-size: 24px;
		}
		@include adaptive(767) {
			padding-bottom: 30px;
			font-size: 18px;
		}
	}

	&__btn {
		padding-bottom: 80px;
	}

	&__visual {
		z-index: 2;
		position: relative;

		&-wrapper {
			display: flex;
			justify-content: center;
		}

		&-device {
			@include adaptive(767) {
				opacity: 0 !important;
			}

			&--clone {
				opacity: 0.4;
				filter: contrast(0.5);
				position: absolute;
				top: -150px;
				left: 160px;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				@include adaptive(1023) {
					opacity: 0.2;
				}
				@include adaptive(767) {
					display: none !important;
				}
			}
		}

		&-cube {
			&--big {
				position: absolute;
				top: 100px;
				left: 25px;
				@include adaptive(767) {
					display: none !important;
				}
			}
			&--small {
				position: absolute;
				left: 300px;
				bottom: 200px;
				@include adaptive(1279) {
					display: none !important;
				}
			}
		}

		&-dots {
			position: absolute;
			bottom: 200px;
			right: 200px;
			@include adaptive(767) {
				display: none !important;
			}
		}

		&-orb {
			&--small {
				position: absolute;
				top: 40%;
				right: 100px;
			}
			&--big {
				position: absolute;
				top: 170px;
				left: 165px;
				@include adaptive(1279) {
					display: none !important;
				}
			}
		}

		&-phone {
			position: absolute;
			top: 115px;
			right: 290px;
			@include adaptive(1279) {
				top: -30px;
				right: 50px;
			}
			@include adaptive(1023) {
				transform: scale(0.65);
			}
			@include adaptive(767) {
				top: -75px;
				transform: scale(1);
			}
		}

		> div {
			&:nth-of-type(1),
			&:nth-of-type(3) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&:nth-of-type(1) {
				z-index: 1;
			}
			&:nth-of-type(2) {
				position: relative;
				z-index: 2;
			}
			&:nth-of-type(3) {
				z-index: 3;
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

// SECTION :: END
