// SECTION :: START

section#faq.faq

  .faq__bg(parallax-js)
    div
      img(src="img/img-orb.svg" alt="" floating-node-js)
    div(data-stellar-ratio="1.1")
      img(src='img/dot-grid-1.svg')

  .c-grid
    .faq__wrapper

      p.faq__title(data-title='PERGUNTAS FREQUENTES' data-aos="fade-up" data-aos-easing="ease-in-out") PERGUNTAS FREQUENTES

      .faq__collapse-wrapper
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p Como funciona?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p Quais dispositivos suportam SegundaLinha?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p A SegundaLinha vai usar os minutos  do meu plpano de celular?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p Qual número meu cliente vai ver quando receber uma ligação minha?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p A qualidade da ligação é reralmente boa?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p Para quais países posso fazer ligações e enviar mensagens?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p Posso usar a SegundaLinha com o meu time?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .faq__collapse
            a.faq__collapse-head(href="#")
              div
                p Vou conseguir seaprar ligações pessoais de ligações de negócio?
              div
                i.icon-font.icon-arrow-top
            .faq__collapse-body
              div
                p A SegundaLinha utiliza a internet parra fornecer um novo númeo de telefone para você usar no seu celular.  Você pode baixar o aplicativo Segundalinha no seu  celular ou usar no seu compputador apra fazer ligações e enviar mensagens de texto.

      .faq__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
        a.c-btn(href="#")
          span Comece já! Cadastre-se

// SECTION :: END
