// SECTION :: START

section#future.future

  .future__bg(parallax-js)
    div
      img(src="img/visual-about-1.png" srcset="img/visual-about-1@2x.png 2x" alt="" floating-node-js)
    div
      img(src="img/visual-about-3.svg" alt="" floating-node-js)

  .c-grid
    .future__wrapper

      p.future__title A maneira de se conectar do futuro!
      p.future__desc Nossa missão é ajudar tanto empresas a se comunicarem melhor como tornar pessoas mais produtivas.

      .future__box-wrapper
        div
          .future__box
            .future__box-head
              i.icon-font.icon-digital
            .future__box-body
              p Construir & Redefinir
              span A idéia de telefone está num momento de redefinição. Por um lado, há o antigo sistema de PBX e por outro a revolução dos smartphones. Mas, nós ainda nos referimos ao telefone apenas da maneira antiga. Pela primeira vez, desde a invenção do smartphone, a SegundaLinha vai redefinir o que um telefone significa. Construimos uma nova forma das pessoas se relacionarem com a tecnologia e entre si.
        div
          .future__box
            .future__box-head
              i.icon-font.icon-diamond
            .future__box-body
              p Simplicidade & Qualidade
              span O produto é intuitivo e a experiência é enriquecedora. A SegundaLinha está reiventando o formato de telefone e oferecendo uma plataforma que não sacrifica qualidade por recursos. Uma plataforma simples, familiar, mas ao mesmo tempo nova. Um verdadeiro passo no desenvolvimento da comunicação humana.
        div
          .future__box
            .future__box-head
              i.icon-font.icon-emoticons
            .future__box-body
              p Encanto & Satisfação
              span Seja no aplicativo, em um anúncio, pessoalmente ou na solução de problemas - podemos garantir que a SegundaLinha é maravilhosa de usar. Independente de todos os novos avanços, recursos e redefinições do que um telefone é, somente ao utilizar a SegundaLinha você já terá uma experiência encantadora e satisfatória.

// SECTION :: END
