// SECTION :: START

section#team.team

  .team__bg(parallax-js)
    div
      img(src="img/visual-about-2.svg" alt="" floating-node-js)
    div
      img(src="img/img-sphere.png" srcset="img/img-sphere@2x.png 2x" alt="" floating-node-js)
    div(data-stellar-ratio="0.9")
      img(src="img/img-cube.png" srcset="img/img-cube@2x.png 2x" alt="")

  .c-grid
    .team__wrapper

      p.team__title(data-title='Nosso time' data-aos="fade-up" data-aos-easing="ease-in-out") Nosso time

      .team__box-wrapper
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .team__box
            .team__box-bg(parallax-js)
              div(data-stellar-ratio="0.95")
                img(src="img/dot-grid-1.svg" alt="")
              div(data-stellar-ratio="1.05")
            .team__box-head
              div
                img(src="img/img-team-1.png" alt="")
            .team__box-body
              p Gero Ibragimovich
              span Web designer
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .team__box
            .team__box-bg(parallax-js)
              div(data-stellar-ratio="1.05")
                img(src="img/dot-grid-1.svg" alt="")
              div(data-stellar-ratio="0.95")
            .team__box-head
              div
                img(src="img/img-team-2.png" alt="")
            .team__box-body
              p Gero Ibragimovich
              span Web designer
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .team__box
            .team__box-bg(parallax-js)
              div(data-stellar-ratio="0.95")
                img(src="img/dot-grid-1.svg" alt="")
              div(data-stellar-ratio="1.05")
            .team__box-head
              div
                img(src="img/img-team-3.png" alt="")
            .team__box-body
              p Gero Ibragimovich
              span Web designer
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .team__box
            .team__box-bg(parallax-js)
              div(data-stellar-ratio="1.05")
                img(src="img/dot-grid-1.svg" alt="")
              div(data-stellar-ratio="0.95")
            .team__box-head
              div
                img(src="img/img-team-4.png" alt="")
            .team__box-body
              p Gero Ibragimovich
              span Web designer
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .team__box
            .team__box-bg(parallax-js)
              div(data-stellar-ratio="0.95")
                img(src="img/dot-grid-1.svg" alt="")
              div(data-stellar-ratio="1.05")
            .team__box-head
              div
                img(src="img/img-team-5.png" alt="")
            .team__box-body
              p Gero Ibragimovich
              span Web designer
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .team__box
            .team__box-bg(parallax-js)
              div(data-stellar-ratio="1.05")
                img(src="img/dot-grid-1.svg" alt="")
              div(data-stellar-ratio="0.95")
            .team__box-head
              div
                img(src="img/img-team-6.png" alt="")
            .team__box-body
              p Gero Ibragimovich
              span Web designer

// SECTION :: END
