// LOGOTYPE :: START

.logo {
	display: flex;

	&.logo--header {
		.logo__btn {
			max-width: 329px;

			img {
				&:nth-of-type(1) {
					@include adaptive(1279) {
						display: none;
					}
				}
				&:nth-of-type(2) {
					display: none;
					@include adaptive(1279) {
						display: block;
					}
				}
			}
		}
	}

	&.logo--footer {
		padding-bottom: 47px;
	}

	&__btn {
		display: flex;
		align-items: flex-start;
		width: 100%;
		max-width: 357px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 62px;
		}
	}
}

// LOGOTYPE :: END
