// FOOTER :: START

.footer {
	position: relative;
	padding-top: 80px;
	background: linear-gradient(139.83deg, #00CAAD -47.82%, #7168ED 94.19%), linear-gradient(342.17deg, #672DC2 38.56%, #9747F9 109.18%), #292448;

	.c-grid {
		max-width: 1482px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		> div {
			position: absolute;

			&:nth-of-type(1) {
				top: -111px;
				left: -30px;
				@include adaptive(767) {
					top: -50px;
					left: -50px;
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
					@include adaptive(767) {
						max-width: 102px;
					}
				}
			}
			&:nth-of-type(2) {
				display: flex;
				top: -200px;
				right: -200px;
				@include adaptive(1279) {
					top: -150px;
					right: -150px;
				}

				span {
					width: 434px;
					height: 434px;
					border-radius: 46px;
					transform: rotate(58deg);
					background-color: #5E55E2;
					@include adaptive(1279) {
						width: 334px;
						height: 334px;
					}
					@include adaptive(767) {
						width: 204px;
						height: 204px;
					}
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;

		&-1 {
			display: flex;
			padding-bottom: 80px;
			@include adaptive(1279) {
			  flex-wrap: wrap;
			}
			@include adaptive(767) {
				padding-bottom: 30px;
			}

			.footer__wrapper {
				&-left {
					width: 100%;
					max-width: 665px;
					padding-right: 15px;
					@include adaptive(1535) {
						max-width: 505px;
					}
					@include adaptive(1279) {
						max-width: 100%;
						padding-right: 0;
						padding-bottom: 80px;
					}
				}

				&-right {
					display: flex;
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					@include adaptive(767) {
					  flex-wrap: wrap;
					}

					> div {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						@include adaptive(767) {
							flex: 100%;
							padding-bottom: 30px;
						}
					}
				}
			}
		}

		&-2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-height: 125px;
			border-top: 1px solid rgba(#FFFFFF, 0.4);
			@include adaptive(1023) {
				min-height: 100px;
			}
			@include adaptive(767) {
			  flex-direction: column;
				justify-content: center;
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}

	&__title {
		padding-bottom: 20px;
		font-weight: 500;
		font-size: 20px;
		line-height: 36px;
		color: #EAEAEA;
		@include adaptive(1023) {
			line-height: 26px;
		}
		@include adaptive(767) {
			padding-bottom: 10px;
			text-align: center;
			font-size: 18px;
		}
	}

	&__nav {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		@include adaptive(767) {
			align-items: center;
		}

		a {
			position: relative;
			display: flex;
			font-size: 18px;
			line-height: 47px;
			color: #E9F7FE;
			@include adaptive(1279) {
				font-size: 16px;
				line-height: 42px;
			}

			&:hover {
				color: #ffffff;
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 2px;
				background-color: #f6f8fa;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}
	}

	&__info {
		width: 100%;
		max-width: 552px;
		padding-bottom: 47px;
		font-size: 20px;
		line-height: 31px;
		color: #E9F7FE;
		@include adaptive(1279) {
			font-size: 18px;
		}
		@include adaptive(767) {
			font-size: 16px;
			text-align: center;
			padding-bottom: 30px;
		}
	}

	&__sign {
		display: flex;
		align-items: center;
		@include adaptive(767) {
		  flex-direction: column;
			align-items: center;
		}

		> a {
			position: relative;
			display: flex;
			margin-right: 20px;
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
			@include adaptive(767) {
				margin-right: 0;
				margin-bottom: 15px;
			}

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 2px;
				background-color: #f6f8fa;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}

		&-btn {
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			width: auto;
			height: 48px;
			padding-left: 30px;
			padding-right: 30px;
			border: 2px solid #FFFFFF;
			border-radius: 45px;
			box-shadow: none;
			background-color: transparent;
			@include transition(background-color);

			&:hover {
				background-color: #ffffff;
				@include transition(background-color);

				.icon-font,
				span {
					color: #A9A3FF;
					@include transition(color);
				}
			}

			.icon-font,
			span {
				color: #ffffff;
				@include transition(color);
			}

			.icon-font {
				font-size: 24px;

				& + span {
					padding-left: 10px;
				}
			}

			span {
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
			}
		}
	}
}

// FOOTER :: END
