// HEADER :: START

.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 10px 30px 0 rgba(128, 119, 242, 0);
	background-color: transparent;
	@include transition(box-shadow, background-color);

	&.is-fixed {
		box-shadow: 0 10px 30px 0 rgba(128, 119, 242, 0.1);
		background-color: #252e35;
		@include transition(box-shadow, background-color);

		.header__wrapper {
			padding-top: 16px;
			padding-bottom: 16px;
			@include transition(padding-top, padding-bottom);
		}
	}

	.c-grid {
		max-width: 1482px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding-top: 64px;
		padding-bottom: 32px;
		@include transition(padding-top, padding-bottom);
		@include adaptive(1279) {
			padding-top: 32px;
		}
		@include adaptive(1023) {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		&-left,
		&-right {
			width: 100%;
			max-width: 460px;
			@include adaptive(1279) {
				max-width: 300px;
			}
			@include adaptive(1023) {
				max-width: 100%;
			}
		}

		&-left {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-middle {
			display: flex;
			justify-content: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				align-items: center;
				padding-bottom: 50px;
			}
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			@include adaptive(1023) {
				justify-content: center;
			}
		}
	}

	&__mobile {
		display: flex;
		align-items: center;
		flex: 1;
		min-width: 1px;
		max-width: 100%;
		@include adaptive(1023) {
			z-index: 1999;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px) scale(0.95);
			overflow-y: auto;
			position: fixed;
			top: 94px;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: calc(100% - 94px);
			padding: 50px;
			background-color: rgba(#252E35, 0.95);
			transform-origin: center;
			backface-visibility: hidden;

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translateY(0) scale(1);
				@include transition(opacity, visibility, transform);
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
		  flex-direction: column;
		}

		a {
			position: relative;
			display: flex;
			font-weight: 600;
			font-size: 17px;
			line-height: 25px;
			color: #F6F8FA;
			@include adaptive(1023) {
				min-height: 60px;
				font-size: 20px;
			}

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 2px;
				background-color: #f6f8fa;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}

			&:not(:last-of-type) {
				margin-right: 35px;
				@include adaptive(1023) {
					margin-right: 0;
				}
			}
		}
	}

	&__sign {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			flex-direction: column;
		}

		> a {
			position: relative;
			display: flex;
			margin-right: 50px;
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
			@include adaptive(1023) {
				margin-right: 0;
				margin-bottom: 50px;
			}

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 2px;
				background-color: #f6f8fa;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}

		&-btn {
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			width: auto;
			height: 48px;
			padding-left: 30px;
			padding-right: 30px;
			border: 2px solid #A9A3FF;
			border-radius: 45px;
			box-shadow: none;
			background-color: transparent;
			@include transition(background-color);

			&:hover {
				background-color: #A9A3FF;
				@include transition(background-color);

				.icon-font,
				span {
					color: #fff;
					@include transition(color);
				}
			}

			.icon-font,
			span {
				color: #A9A3FF;
				@include transition(color);
			}

			.icon-font {
				font-size: 24px;

				& + span {
					padding-left: 10px;
				}
			}

			span {
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
			}
		}
	}

	.hamburger {
		display: none;
		@include adaptive(1023) {
			display: flex;
		}
	}
}

// HEADER :: END
