// SECTION :: START

section#about.about

  .about__bg(parallax-js)
    div(data-stellar-ratio="0.85")
      img(src="img/visual-about-1.png" srcset="img/visual-about-1@2x.png 2x" alt="" floating-node-js)
    div(data-stellar-ratio="1.15")
      img(src="img/visual-about-2.svg" alt="" floating-node-js)
    div(data-stellar-ratio="0.8")
      img(src="img/visual-about-3.svg" alt="" floating-node-js)

  .c-grid

    .about__wrapper

      h1.about__title(data-aos="fade-up" data-aos-easing="ease-in-out") About us

      .about__desc(data-aos="fade-up" data-aos-delay="50" data-aos-easing="ease-in-out")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, sed aliquam ornare pharetra morbi at suspendisse. Rhoncus mattis nibh semper nam elit. Orci in interdum commodo sit faucibus imperdiet. Eget fames eget ornare sociis velit elit, feugiat vulputate. In rhoncus porttitor varius diam elit. Ante pellentesque aliquam dolor montes, id. Magna molestie semper dolor habitant donec vitae tortor, orci. A ultrices interdum vitae, suscipit. Pellentesque varius nunc, cras fermentum, penatibus vitae vel. Id lacus et, vestibulum aliquam lorem venenatis risus. Aliquet consectetur bibendum fames duis erat. Sit at maecenas sem nec enim lacus cursus nisi. Tristique ultrices aenean ut tristique non quam ligula.
        p Dui ut laoreet dolor tortor facilisi faucibus commodo lectus. Tempor, praesent feugiat feugiat ac amet eu. Netus nisl ac hac ultricies fermentum natoque accumsan pellentesque. Ut massa volutpat tellus, sociis auctor amet, nisi, molestie risus. Eleifend magna praesent rhoncus duis amet, diam facilisis morbi tincidunt.
        p Ullamcorper dapibus dictumst feugiat tellus, eu. Mattis dignissim velit suspendisse congue commodo, pretium mus. Etiam ullamcorper porttitor placerat consectetur. Diam neque ac, scelerisque sit interdum eget donec. Lorem augue sodales lorem morbi. Nunc eget id integer nisi, imperdiet hendrerit. Sit rhoncus, dui molestie faucibus scelerisque. Phasellus consequat risus eget dis porta velit pellentesque accumsan. Consectetur dictumst suscipit morbi ultrices potenti ullamcorper. Faucibus vitae velit neque, gravida felis sed. Aliquam ultrices et, tortor morbi tristique accumsan libero sit pulvinar. Amet arcu ultricies fames felis, commodo. Mus vel porta donec nisi ultrices justo.
        p At id risus amet nisl blandit. Donec donec commodo sollicitudin arcu blandit tellus aliquet. Mauris mattis integer suspendisse senectus bibendum sit faucibus tortor. Blandit turpis praesent nisl augue quis quis. Amet morbi nunc consequat sapien, quam rhoncus. Auctor at massa condimentum eu. Molestie montes, consectetur congue id elementum. Tellus enim viverra proin eros. Ipsum mauris, consequat vestibulum euismod molestie vestibulum. Eu nibh ullamcorper consectetur nunc tristique id tristique cursus.
        p Neque lobortis in lobortis elementum nisi vulputate. Nam id adipiscing semper quam eleifend nunc, velit orci. Mauris sagittis dui phasellus placerat orci feugiat ultrices. Augue netus turpis sed tristique vitae faucibus et. Eu id eu porttitor vestibulum facilisis. Aliquet nibh aliquet sodales dictum tempus. Integer sed cras vulputate in praesent eu. Ac aliquam amet, proin senectus. Dictum proin fusce est imperdiet convallis. Vel nunc mollis vivamus ut urna, aliquam purus neque. Interdum proin amet malesuada nunc vitae. Quis quam tristique dictum turpis senectus.
        p Arcu sed nunc, ligula dolor non orci. Amet, vitae pellentesque natoque congue cras nulla mauris proin. Maecenas viverra a porta orci feugiat elementum, faucibus. Non pulvinar sagittis, dolor est ac nibh turpis nisi. Dignissim vel ultrices id duis. Eu semper ut amet vulputate morbi laoreet id eu leo. Sapien quam vel ultricies sed. Sollicitudin pellentesque ultricies amet semper hendrerit volutpat, amet sit.

// SECTION :: END
