// SECTION :: START

section#connect.connect

  .connect__bg
    div
      img(src="img/img-connect-bg-sq-1.svg" alt="" floating-node-js)
    div
      img(src="img/img-connect-bg-sq-2.svg" alt="" floating-node-js)
    div
      img(src="img/img-connect-bg-sq-3.svg" alt="" floating-node-js)
    div
      img(src="img/img-connect-bg-sq-2.svg" alt="" floating-node-js)

  .c-grid
    .connect__wrapper
      .connect__wrapper-bg
        div
        div
        div
          img(src="img/dot-grid.svg" alt="")
      .connect__wrapper-content

        p.connect__title(data-title="CONECTE OS APLICATIVOS QUE SEU NEGÓCIO USA" data-aos="fade-up" data-aos-easing="ease-in-out") CONECTE OS APLICATIVOS QUE SEU NEGÓCIO USA
        p.connect__desc(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out") Não perca mais nenhum detalhe sobre os seus clientes. Integramos os seus números da SegundaLinha aos principais aplicativos do mercado!

        .connect__visual
          img(src="img/img-connect-desc.svg" alt="" data-aos="fade-up" data-aos-delay="150" data-aos-easing="ease-in-out")

          .connect__visual-badge
            div(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-in-out")
              img(src="img/img-connect-calls.svg" alt="")
            div(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-in-out")
              img(src="img/img-connect-badge.svg" alt="")

          .connect__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up" data-aos-easing="ease-in-out")
            a.c-btn(href="#")
              span Saiba mais sobre nossas novidades

// SECTION :: END
