// SECTION :: START

section#connect.connect

  .connect__bg
    div
      img(src="img/img-connect-bg-sq-1.svg" alt="" floating-node-js)
    div
      img(src="img/img-connect-bg-sq-2.svg" alt="" floating-node-js)
    div
      img(src="img/img-connect-bg-sq-3.svg" alt="" floating-node-js)
    div
      img(src="img/img-connect-bg-sq-2.svg" alt="" floating-node-js)

  .c-grid
    .connect__wrapper
      .connect__wrapper-bg
        div
        div
        div
          img(src="img/dot-grid.svg" alt="")
      .connect__wrapper-content

        p.connect__title CONECTE OS APLICATIVOS QUE SEU NEGÓCIO USA
        p.connect__desc Não perca mais nenhum detalhe sobre os seus clientes. Integramos os seus números da SegundaLinha aos principais aplicativos do mercado!

        .connect__visual

          .connect__visual-cell
            div
              p Chamadas Completas
            div
              span
                i.icon-font.icon-up-arrow

          .connect__visual-badge
            .connect__visual-badge-head
              div
                p Iniciado
                h2 19:03
                span Maio de 2020
              div
                a(href="#") Encerrar
            .connect__visual-badge-body
              div
                i
                  u
                    img(src="img/img-connect-user.png" alt="")
              div
                p Manoel Henrique
                span Ligando...

          .connect__visual-head
            div
              p 9:41
            div
              i.icon-font.icon-cellular-connection
              i.icon-font.icon-wifi
              i.icon-font.icon-battery

          .connect__visual-body

            .connect__visual-programm
              div
                img(src="img/whatsapp.png" srcset="img/whatsapp@2x.png 2x" alt="")
              div
                img(src="img/pipedrive.png" srcset="img/pipedrive@2x.png 2x" alt="")
              div
                img(src="img/slack.png" srcset="img/slack@2x.png 2x" alt="")

            .connect__visual-block

              .connect__visual-describe
                div
                  p Conecte seu WhatsApp Business ao seu número da SegundaLinha e deixe seus colaboradores cuidarem de toda a comunicação.
                div
                  p Tenha uma visão geral de todas as interações com os seus clientes conectando o CRM PipeDrive ao seu número.
                div
                  p Mantenha todos os seus colaboradores informados sobre o que está acontecendo conectando o Slack com a SegundaLinha.

              p.connect__desc Novas integrações são adicionadas constantemente!

        .connect__btn.c-btn__wrapper.c-btn__wrapper--center
          a.c-btn(href="#")
            span Saiba mais sobre nossas novidades

// SECTION :: END
