// SECTION :: START

section#developer.developer

  .developer__bg
    div
      img(src="img/img-developer-big-sphere.png" srcset="img/img-developer-big-sphere@2x.png 2x" alt="" floating-node-js)
    div
      img(src="img/img-developer-poligon.svg" alt="" floating-node-js)
    div
      img(src="img/img-developer-poligon-1.svg" alt="" floating-node-js)

  .c-grid
    .developer__wrapper

      p.developer__title(data-aos="fade-up" data-aos-easing="ease-in-out") DESENVOLVIDA PARA SUA EMPRESA E SEU TIME
      p.developer__desc(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out") Simplicidade e Agilidade. Esses são os nossos pilares e é isso que vamos fazer para comunicação do seu negócio.

      .developer__box-wrapper
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .developer__box.developer__box-1
            .developer__box-head
              .developer__box-bg
                div
              img(src="img/img-developer-1.png" srcset="img/img-developer-1@2x.png 2x" alt="")
            .developer__box-body
              p.developer__box-title TRAGA SEU TIME
              .developer__box-line
              p.developer__box-desc Convide seus colaboradres para compartilhar números profissionais ou ter números próprios. Você vai conseguir gerenciar todos os números da sua empresa usando uma interface muito simples.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .developer__box.developer__box-2
            .developer__box-head
              .developer__box-bg
                div
              img(src="img/img-developer-2.png" srcset="img/img-developer-2@2x.png 2x" alt="")
            .developer__box-body
              p.developer__box-title COMPARTILHE NÚMEROS
              .developer__box-line
              p.developer__box-desc Seus colaboradores vão poder fazer ligações e enviar mensagens de um mesmo número. E você, vai saber quem enviou cada mensagem para os clientes.
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .developer__box.developer__box-3
            .developer__box-head
              .developer__box-bg
                div
              img(src="img/img-developer-3.png" srcset="img/img-developer-3@2x.png 2x" alt="")
            .developer__box-body
              p.developer__box-title MÉTRICAS SIMPLIFICADAS
              .developer__box-line
              p.developer__box-desc Quanto tempo seus colabroadores conversaram com seus clientes na semana passada? Qual é o momento mais agitado da semana no seu negócio? Com a SegundaLinha você terá todas essas informações e muito mais.

      .developer__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up" data-aos-easing="ease-in-out")
        a.c-btn(href="#")
          span Comece já! Cadastre-se

// SECTION :: END
