// SECTION :: START

section#developer.developer
  .c-grid
    .developer__wrapper

      p.developer__title DESENVOLVIDA PARA SUA EMPRESA E SEU TIME
      p.developer__desc Simplicidade e Agilidade. Esses são os nossos pilares e é isso que vamos fazer para comunicação do seu negócio.

      .developer__box-wrapper
        div
          .developer__box
            .developer__box-head
              //img(src="img/img-developer-1.png" srcset="img/img-developer-1@2x.png 2x" alt="")
            .developer__box-body
              p.developer__box-title TRAGA SEU TIME
              .developer__box-line
              p.developer__box-desc Convide seus colaboradres para compartilhar números profissionais ou ter números próprios. Você vai conseguir gerenciar todos os números da sua empresa usando uma interface muito simples.
        div
          .developer__box
            .developer__box-head
              //img(src="img/img-developer-2.png" srcset="img/img-developer-2@2x.png 2x" alt="")
            .developer__box-body
              p.developer__box-title COMPARTILHE NÚMEROS
              .developer__box-line
              p.developer__box-desc Seus colaboradores vão poder fazer ligações e enviar mensagens de um mesmo número. E você, vai saber quem enviou cada mensagem para os clientes.
        div
          .developer__box
            .developer__box-head
              //img(src="img/img-developer-3.png" srcset="img/img-developer-3@2x.png 2x" alt="")
            .developer__box-body
              p.developer__box-title MÉTRICAS SIMPLIFICADAS
              .developer__box-line
              p.developer__box-desc Quanto tempo seus colabroadores conversaram com seus clientes na semana passada? Qual é o momento mais agitado da semana no seu negócio? Com a SegundaLinha você terá todas essas informações e muito mais.

      .developer__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#")
          span Comece já! Cadastre-se

// SECTION :: END
