// SECTION :: START

section#how.how
  .c-grid
    .how__wrapper

      p.how__title COMO FUNCIONA
      p.how__desc Agora ficou ainda mais fácil ter um número de telefone para o seu negócio. Tenha um número para a sua empresa em apenas três passos!

      .how__box-wrapper
        div
          .how__box
            .how__box-head
            .how__box-body
              p Escolha um número ou traga o seu
        div
          .how__box
            .how__box-head
            .how__box-body
              p Baixe o aplicativo ou use o WebApp
        div
          .how__box
            .how__box-head
            .how__box-body
              p Pronto, comece a ligar e receber chamadas e SMS

      .how__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#")
          span Dúvidas? Fale conosco agora

// SECTION :: END
