// SECTION :: START

section#how.how

  .how__bg
    div
      img(src="img/visual-about-2.svg" alt="" floating-node-js)
    div
      img(src="img/img-sphere.png" srcset="img/img-sphere@2x.png 2x" alt="" floating-node-js)
    div
      img(src="img/visual-about-3.svg" alt="" floating-node-js)

  .c-grid
    .how__wrapper

      p.how__title(data-title='COMO FUNCIONA' data-aos="fade-up" data-aos-easing="ease-in-out") COMO FUNCIONA
      p.how__desc(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out") Agora ficou ainda mais fácil ter um número de telefone para o seu negócio. Tenha um número para a sua empresa em apenas três passos!

      .how__box-wrapper
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .how__box.how__box-1
            .how__box-bg
              div
            p.how__box-num 1
            .how__box-head
              img(src="img/img-how-1.png" srcset="img/img-how-1@2x.png 2x" alt="")
            .how__box-body
              p Escolha um número ou traga o seu
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .how__box.how__box-2
            .how__box-bg
              div
              div
              div
            p.how__box-num 2
            .how__box-head
              img(src="img/img-how-2.png" srcset="img/img-how-2@2x.png 2x" alt="")
            .how__box-body
              p Baixe o aplicativo ou use o WebApp
        div(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
          .how__box.how__box-3
            .how__box-bg
              div
            p.how__box-num 3
            .how__box-head
              img(src="img/img-how-3.png" srcset="img/img-how-3@2x.png 2x" alt="")
            .how__box-body
              p Pronto, comece a ligar e receber chamadas e SMS

      .how__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up" data-aos-easing="ease-in-out")
        a.c-btn(href="#")
          span Dúvidas? Fale conosco agora

// SECTION :: END
