// SECTION :: START

section#main.main
  .c-grid
    .main__wrapper

      h1.main__title Seu telefone profissional, reiventado!
      p.main__slogan Uma nova forma de se comunicar com clientes, colaboradores e parceiros.

      .main__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#")
          span Cadastre-se na SegundaLinha

// SECTION :: END
