// SECTION :: START

section#more.more

  .more__bg
    div
      img(src="img/img-sphere.png" srcset="img/img-sphere@2x.png 2x" alt="" floating-node-js)

  .c-grid
    .more__wrapper

      p.more__title MAIS QUE UM NÚMERO PARA O SEU NEGÓCIO
      p.more__desc Cansado de carregar diversos telefones? Quer separar seu número pessoal do Profissional? Precisa compartilhar um mesmo número? Nós vamos te ajudar!

      .more__box-wrapper
        div
          .more__box
            .more__box-head
              i.icon-font.icon-sim-card
            .more__box-body
              p Tenha um número próprio para o seu negócio
              span Escolha um número próprio para o seu negócio e separe seu número pessoal do seu número profissional
        div
          .more__box
            .more__box-head
              i.icon-font.icon-emoticons
            .more__box-body
              p Chamadas e mensagems
              span Faça ligações e envie mensagens para qualquer pessoa em qualquer lugar do mundo
        div
          .more__box
            .more__box-head
              i.icon-font.icon-cubes
            .more__box-body
              p Diversos números
              span Transforme o número do seu negócio em um canal de comunicação e compartilhe tudo com o seu time
        div
          .more__box
            .more__box-head
              i.icon-font.icon-responsive-design
            .more__box-body
              p Múltiplos dispositivos
              span Envie mensagens ou faça ligações com o seu celular, notebook ou tablet
        div
          .more__box
            .more__box-head
              i.icon-font.icon-appointment
            .more__box-body
              p Horário de trabalho
              span Determine quando você quer receber notificações e tenha sua vida pessoal de volta
        div
          .more__box
            .more__box-head
              i.icon-font.icon-technical-support
            .more__box-body
              p Suporte aos seu aplicativos
              span Responda rapidamente seus clientes utilizando seu aplicativo de comunicação preferido, como WhatsApp Business ou Telegram
        div
          .more__box
            .more__box-head
              i.icon-font.icon-crm
            .more__box-body
              p CRM simplificado
              span Enriqueça seus contatos com informações personalizadas para você ter acesso a todo o contexto do cliente que você está conversando
        div
          .more__box
            .more__box-head
              i.icon-font.icon-conversation
            .more__box-body
              p Comentários
              span Deixe comentários ao longo de uma conversa para que seu time possa continuar interagindo com o cliente desde o último contato

      .more__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#")
          span Comece já! Cadastre-se

// SECTION :: END
