// SECTION :: START

section#download.download

  .download__bg
    div
      span(floating-node-js)
    div
      img(src="img/visual-about-1.png" srcset="img/visual-about-1@2x.png 2x" alt="" floating-node-js)
    div
      img(src="img/visual-about-2.svg" alt="" floating-node-js)
    div
      img(src="img/visual-about-3.svg" alt="" floating-node-js)
    div
      img(src="img/visual-about-4.png" srcset="img/visual-about-4@2x.png 2x" alt="" floating-node-js)

  .c-grid
    .download__wrapper

      h1.download__title(data-aos="fade-up" data-aos-easing="ease-in-out") Tenha sua SegundaLinha em qualquer dispositivo.

      .download__btn.c-btn__wrapper.c-btn__wrapper--center(data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease-in-out")
        a.c-btn(href="#")
          i.icon-font.icon-apple
          span Download for Mac

      p.download__label(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease-in-out") SEJA UM BETA

      .download__box-wrapper
        div(data-aos="fade-up" data-aos-delay="250" data-aos-easing="ease-in-out")
          a.download__box(href="#")
            div
              i.icon-font.icon-ios
            div
              p SegundaLinha para iOS
              span Seja um beta
        div(data-aos="fade-up" data-aos-delay="250" data-aos-easing="ease-in-out")
          a.download__box(href="#")
            div
              i.icon-font.icon-android
            div
              p SegundaLinha para Android
              span Seja um beta
        div(data-aos="fade-up" data-aos-delay="250" data-aos-easing="ease-in-out")
          a.download__box(href="#")
            div
              i.icon-font.icon-apple
            div
              p SegundaLinha para Mac
              span Seja um beta
        div(data-aos="fade-up" data-aos-delay="250" data-aos-easing="ease-in-out")
          a.download__box(href="#")
            div
              i.icon-font.icon-windows
            div
              p SegundaLinha para Windows
              span Seja um beta
        div(data-aos="fade-up" data-aos-delay="250" data-aos-easing="ease-in-out")
          a.download__box(href="#")
            div
              i.icon-font.icon-global
            div
              p SegundaLinha na Web
              span Web app

// SECTION :: END
