@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == android {
		$char: "\E001";
	}
	@if $filename == apple {
		$char: "\E002";
	}
	@if $filename == appointment {
		$char: "\E003";
	}
	@if $filename == arrow-top {
		$char: "\E004";
	}
	@if $filename == battery {
		$char: "\E005";
	}
	@if $filename == cellular-connection {
		$char: "\E006";
	}
	@if $filename == conversation {
		$char: "\E007";
	}
	@if $filename == crm {
		$char: "\E008";
	}
	@if $filename == cubes {
		$char: "\E009";
	}
	@if $filename == diamond {
		$char: "\E00A";
	}
	@if $filename == digital {
		$char: "\E00B";
	}
	@if $filename == emoticons {
		$char: "\E00C";
	}
	@if $filename == facebook {
		$char: "\E00D";
	}
	@if $filename == global {
		$char: "\E00E";
	}
	@if $filename == instagram {
		$char: "\E00F";
	}
	@if $filename == ios {
		$char: "\E010";
	}
	@if $filename == responsive-design {
		$char: "\E011";
	}
	@if $filename == sim-card {
		$char: "\E012";
	}
	@if $filename == technical-support {
		$char: "\E013";
	}
	@if $filename == twitter {
		$char: "\E014";
	}
	@if $filename == up-arrow {
		$char: "\E015";
	}
	@if $filename == user {
		$char: "\E016";
	}
	@if $filename == wifi {
		$char: "\E017";
	}
	@if $filename == windows {
		$char: "\E018";
	}
	@if $filename == youtube {
		$char: "\E019";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-android {
	@include icon(android);

}
.icon-apple {
	@include icon(apple);

}
.icon-appointment {
	@include icon(appointment);

}
.icon-arrow-top {
	@include icon(arrow-top);

}
.icon-battery {
	@include icon(battery);

}
.icon-cellular-connection {
	@include icon(cellular-connection);

}
.icon-conversation {
	@include icon(conversation);

}
.icon-crm {
	@include icon(crm);

}
.icon-cubes {
	@include icon(cubes);

}
.icon-diamond {
	@include icon(diamond);

}
.icon-digital {
	@include icon(digital);

}
.icon-emoticons {
	@include icon(emoticons);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-global {
	@include icon(global);

}
.icon-instagram {
	@include icon(instagram);

}
.icon-ios {
	@include icon(ios);

}
.icon-responsive-design {
	@include icon(responsive-design);

}
.icon-sim-card {
	@include icon(sim-card);

}
.icon-technical-support {
	@include icon(technical-support);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-up-arrow {
	@include icon(up-arrow);

}
.icon-user {
	@include icon(user);

}
.icon-wifi {
	@include icon(wifi);

}
.icon-windows {
	@include icon(windows);

}
.icon-youtube {
	@include icon(youtube);

}